# Visual Studio project files
*.csproj
*.sln
launchSettings.json

# Visual Studio Code project files
*.code-workspace
*.vscode/

# JetBrains project files
*.idea/

# Thumbnails created by Windows
Thumbs.db

# MacOS specific file used for folder attributes
*.DS_Store

# Python interpreter cache files
*__pycache__

# GitHub LunaTidal Asset Zip
luna.zip
*.cache